<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin name="Neo4j-Qdrant RAG Plugin" version="1.0.0">
    <extension id="RagQueryView" point="org.protege.editor.core.application.ViewComponent">
        <label value="GraphRAG"/>
        <class value="com.protege.rag.RagQueryPanel"/>
        <headerColor value="@org.protege.editor.owl.OWLEditorKit"/>
    </extension>
</plugin>
